body {
    background-image: url("../images/background.png");
        color: red;
}

h1 {
	text-align: center;
	font-size: 40px;
}

.info {
	background-color: magenta;
	text-align: center;
	width: 750px;
}